@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
body {
    background-image: url(../img/fondcv.jpg);
    background-size: contain;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 5vh 5vw 5vh 10vw;
    width: 75%;
    height: auto;
}
nav {
    width: 115% !important;
    margin: 0!important;
}
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 8vw;
    text-transform: uppercase;
    color:  #6600ff;
    background-color: white;
    border: 3px solid #6600ff;
    border-radius: 60px 5px;
    font-style: italic;
    padding: 5px;
    margin-top: 15vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
    margin-left: 7vw;
}
#group1 {
    border: 3px solid #6600ff;
}
#img {
    border: 3px solid #6600ff;
}
.encadre1 {
    color: darkred;
    border: 2px solid darkred;
    border-radius: 60px 5px;
    background-color: white;
    text-align: center;
    margin: 10vh 5vw;
    font-style: italic;
}
.encadre1 h2 {
    font-size: 6vw;
    text-decoration: unederline 3px ;
}
.encadre1 p {
    font-size: 3vw;
}
.titre3 {
    color: #f0fa61;
    text-align: center;
    font-style: italic;
    margin: 10vh 5vw;
    text-decoration: underline 3px;
}
.titre3 h3 {
    font-size: 4vw;
}
.titre4 {
    text-align: center;
    font-style: italic;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.titre4 h4{
    font-size: 3.6vw;
}
.titre5 {
    color: #bdbdbb;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-decoration: underline 3px;
}
.titre5 h5{
    font-size: 3.5vw;
    font-weight: bold;
}
.footer {
    text-align: center;
}
.liens a {
    text-align: right;
    color: #a770ef;
}
.liens {
    text-align: right;
}
#competences tr td:first-child, #competences tr td:last-child {
    border: 5px solid #6600ff;
    background-color: white;
}
#competences tr td:first-child {
    width: 20%;
    height: auto;
}
#competences tr td:second-child {
    width: 5%;
    height: auto;
}
#competences tr td:last-child {
    width: 75%;
    height: auto;
}

.td {
    background-color: transparent;
    border-top: none;
    border-bottom: none;
}
#table1 {
    background-color: white;
    border: 3px solid #6600ff;
    margin: 2% 2%;
}
.liens {
    color: white;
}
.liens a {
    color: white;
}
.footer {
    color: white;
    text-align: center;
}
@media screen and (max-width: 990px){
    main {
        margin-top: 33vh;
    }
    .titre1 {
        margin-top: 25vh;
    }
    .titre1 h1 {
        padding: 5%;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    main {
        margin-top: 33vh;
    }
    .titre1 h1 {
        padding: 5%;
    }
}
