@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Orbitron:wght@700&display=swap');
body {
    background-image: url("../img/galaxie2.gif");
    background-size: cover;
    width: 90%;
    height: auto;
    font-family: 'Orbitron', sans-serif;
}
nav {
    width: 110%!important;
}
header {
    background-color: rgba(46, 50, 53, 0.3);
    color: #defa0a;
    margin: 3vh 25vw;
    width: 50vw;
    height: auto;
    font-size: 5vw;
}
label {
    color: #FD5F00;
}
th {
    color: #FD5F00;
    font-size: 1.5vw;
}
.col-10 {
    margin-left: 12vw;
    margin-right: 12vw;
}
.footer {
    text-align: center;
    color: white;
}
.liens {
    text-align: right;
    color: white;
}
.liens a {
    color: white;
}