body {
    font-family: 'Consolas', sans-serif;
}
nav{
    background-color: transparent;
    width: 100%;
    height: 100px;
    z-index: 10;
    position: relative;
}
.logo {
    margin: 0 20px;
    line-height: 100px;
    height: 100px;
    display: inline-block;
}
nav ul {
    float: right;
    margin-right: 10px;
}
nav ul li {
    display : inline-block;
    padding: 0 5px;
    line-height: 100px;
}
nav ul li a {
    color:  #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 40px 0;
    letter-spacing: 2px;
    border-top: 1px solid  #03e9f4;
    border-radius: 15px;
    font-weight: bold;
}
a:hover {
    background-color:  #03e9f4;
    color: black;
    box-shadow: 0 0 5px  #03e9f4;
                :0 0 25px  #03e9f4;
                :0 0 50px  #03e9f4;
                :0 0 100px  #03e9f4;
}
nav ul li .deconnect {
    color: #23fa14;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 40px 0;
    letter-spacing: 2px;
    border-top: 1px solid #23fa14;
    border-radius: 15px;
    font-weight: bold;
}
.deconnect:hover {
    background-color: #23fa14;
    color: black;
    box-shadow: 0 0 5px #23fa14;
                :0 0 25px  #23fa14;
                :0 0 50px  #23fa14;
                :0 0 100px  #23fa14;
}
.checkbtn {
    color: white;
    float: right;
    font-size: 30px;
    margin-right: 40px;
    cursor: pointer;
    line-height: 90px;
    display: none;
}
#check {
    display: none;
}
@media(max-width: 900px){
    .logo {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media(max-width: 1200px) and (min-width: 480px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #222222;
        top: 80px;
        left: -150%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }
    nav ul li a {
        color: #03e9f4;
        font-size: 16px;
        font-weight: bold;
    }
    nav ul li .deconnect {
        color: #23fa14;
        font-size: 16px;
        font-weight: bold;
    }
    a:hover {
        background-color: #03e9f4;
        color: black;
    }
    .deconnect:hover {
        background-color: #23fa14;
        color: black;
    }
    #check:checked ~ ul {
        left: 0;
    }
}